*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	line-height: 24px;
    max-width: 100%;
    color: #fff;
}

header {
    background: rgb(239,202,206);
    background: linear-gradient(0deg, rgba(239,202,206,1) 0%, rgba(215,137,162,1) 100%);
    padding: 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 100px;
}

.header-logo span {
    font-size: 36px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

li {
    list-style: none;
}

li>a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}

#lang {
    background-color: transparent;
    padding: 12px 0 12px 30px;
    color: #fff;
    font-size: 24px;
    outline: none;
}

main {
    background: rgb(254,254,201);
    background: linear-gradient(31deg, rgba(254,254,201,1) 23%, rgba(221,132,149,1) 50%, rgba(146,164,240,1) 83%, rgba(0,212,255,1) 100%);
    padding: 150px 100px 100px;
}

.main-block {
    padding: 0 100px 100px;
    border-radius: 50px;
}

.main_header {
    background-color: #d3d8f7;
    height: 150px  ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
}

.input_container {
    position: relative;
}

.main_header input {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    background-color: #ebedfc;
    margin-right: 10px;
    outline: none; 
}

::-webkit-input-placeholder {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: black;
    text-align: center;
}

#search {
    position: absolute;
    left: 17px;
    top: 17px;
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 30px 30px;
}

.item {
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.item img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.item p {
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 30px;
    background: rgb(239,202,206);
    background: linear-gradient(0deg, rgba(239,202,206,1) 0%, rgba(215,137,162,1) 100%);
    display: inline-block;
    text-align: center;
    width: 240px;
}

.circle {
    display: inline-block;
    background-color: #00fe38;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

footer {
    background-color: #465375;
    padding: 60px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 200px;
    margin-top: -60px;
}

.footer_list {
    width: 50%;
    align-self: flex-start;
    text-align: center;
    display: block;
}

.footer_list a {
    font-size: 20px;
}

.footer_list li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-text p:first-child {
    font-size: 36px;
}

.burger-btn {
    width: 25px;
    height: 20px;
    background-color: transparent;
    position: relative;
    display: none;
}

.burger-btn span:after, .burger-btn span:before {
    content: '';
}

.burger-btn span, .burger-btn span:after, .burger-btn span:before {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    transition: 0.3s;
}

.burger-btn span:before {
    transform: translateY(-9px);
}

.burger-btn span:after {
    transform: translateY(9px);
}

.contacts {
    display: none;
}

.modal-btn1 {
    background-color: rgba(23, 39, 85, 1);
    display: inline-block;
    height: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 20px;
    outline: none; 
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-btn1:hover {
    cursor: pointer;
}

.box {
    margin-top: 20px;
    display: flex;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}


.modal-header {
    background-color: white;
    padding: 30px;
    border-radius: 30px 30px 0 0;
}

.modal-body {
    background: rgba(255, 255, 255, 0.8);
    padding: 100px;
}

.modal-body input {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 10px;
    outline: none; 
    margin-bottom: 20px;
}

::-webkit-input-placeholder {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: black;
    text-align: center;
}

.modal {
    color: black;
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    
}

.menu {
    border-radius: 0;
    
}

.menu .modal-content {
    width: 55%;
    background-color: white;
    padding: 5px;
}

.menu .modal-body {
    padding: 15px 5px;
    text-align: left;
}

.menu p {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu p::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #F1E0E0;
    height: 1px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


@media screen and (max-width: 576px) {
    body {
        font-size: 14px;
        line-height: 16px;
    }

    header {
        padding: 10px;
    }

    .header-logo span{
        font-size: 26px;
    }

    .nav_list, #lang {
        display: none;
    }    

    .burger-btn {
        display: block;
    }

    main {
        padding: 15px;
    }

    .main-block {
        padding: 10px;
    }

    .main-info {
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .item {
        width: 75%;
    }

    footer {
        padding: 10px;
    }

    .footer_list {
        display: none;
    }

    .card img {
        width: 70px;
        margin-top: -20px;
    }

    .contacts {
        display: block;
    }

    .burger-btn {
        display: block;
    }

    .modal-content {
        width: 100%;
    }

    .modal-body {
        padding: 30px;
    }

    .logo-text p:first-child {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
}

a span {
    color: white;
}